.container{  
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - 50px);
    left: 0;
    right: 0;
    margin: 0 auto;
    color: honeydew;
   

    &__figure_square {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        background:blue;
    }

    &__figure_circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        background: red;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
    }

    &__figure_triangle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 100px solid green;
    }
    .triangle_center {
        position: absolute;
        top: 50px;
    }

}

.wrapper__button {
    
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 80%;
}

