<mat-card class="developer">
    <mat-card-header>
        <div mat-card-avatar class="header_image"></div>
        <mat-card-title>Oleksandr Okhrimovych</mat-card-title>
        <mat-card-subtitle>Front-End Deleloper</mat-card-subtitle>
    </mat-card-header>
    <mat-dialog-content>
        <p>Hello. I am a frontend developer with almost one year's experience.
            During this time I was involved in the development of projects on Angular2+. 
            I also have strong experience with HTML, CCS (SCSS, SASS), Gulp, Webpack, Typescript, RxJS, Git.
        </p>
    </mat-dialog-content>
</mat-card>